body {
  margin: 0;
  background-color: #ebe5e5;
  padding: 100px 20px 50px;
  min-height: 95vh;
  width: 100%;
  margin-top: 100px;
}
a {
  text-decoration: none;
  color: grey;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.name {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .name {
    width: 100%;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the entire footer content horizontally */
    text-align: center; /* Center the text in the footer */
  }
  .footer {
    flex-direction: column;
    align-items: center; /* Center the footer content horizontally */
    text-align: center; /* Center the text in the footer */
  }
}

.footer {
  color: #212529bf;
  margin-right: 50px;
  text-decoration: none;
}
