body {
  font-family: 'Open Sans', sans-serif;
}

.titleWrapper {
  border-bottom: 1px solid #5fc6cb;
  margin: 100px 0 40px 0;
}

.title {
  border-left: 2px solid #ef3a58;
  padding-left: 16px;
  margin-bottom: 30px;
}

article {
  padding-left: 16px;
}

h4 {
  color: grey;
}
