body {
  background-color: #ebe5e5;
  font-family: 'Open Sans', sans-serif;
}

.titleWrapper {
  border-bottom: 1px solid #60d0d3;
  margin: 100px 0 40px 0;
}

.title {
  border-left: 2px solid #e93654;
  padding-left: 16px;
  margin-bottom: 30px;
}

article {
  padding-left: 16px;
}

h4 {
  color: grey;
}
