body {
  margin: 0;
  background-color: #ebe5e5;
  padding: 100px 20px 50px;
  min-height: 95vh;
  width: 100%;
  margin-top: 80px;
}
a {
  text-decoration: none;
  color: grey;
}
h4 {
  font-size: smaller;
  padding-top: 5px;
  color: #ea3654;
}

p {
  padding: 10px 0 10px 0;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}

.name {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .name {
    width: 100%;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.footer {
  color: #212529bf;
  margin-right: 50px;
  text-decoration: none;
}
