body {
  margin: 0;
  background-color: #ebe5e5;
  padding: 100px 20px 50px;
  min-height: 95vh;
  width: 100%;
  margin-top: 80px;
}

.footer {
  color: #212529bf;
  margin-right: 50px;
  text-decoration: none;
}

p {
  line-height: 200%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.name {
  display: flex;
  flex-direction: column;
}

.profile-picture img {
  border-radius: 50%;
  margin-right: 80px;
}

.info {
  flex: 1;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.top-section {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bubbles {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.bubble {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.red {
  background-color: #e93654;
  margin-left: 0;
}

.blue {
  background-color: #60d0d3;
}

.yellow {
  background-color: #d1cb27;
}

@media screen and (min-width: 768px) {
  .profile-picture img {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 767px) {
  .bubbles {
    flex-direction: column;
    align-items: flex-start;
  }

  .bubble {
    margin: 10px 0;
  }

  .name,
  .info {
    width: 100%;
  }

  .top-section {
    flex-direction: column;
  }

  .profile-picture img {
    border-radius: 50%;
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the entire footer content horizontally */
    text-align: center; /* Center the text in the footer */
  }
  .footer {
    flex-direction: column;
    align-items: center; /* Center the footer content horizontally */
    text-align: center; /* Center the text in the footer */
  }
}

#bubble-heading {
  color: #333333;
}

#tech-girl {
  color: #e93654;
}
